body {
    padding: 50;
    text-align: center;
    max-width: 900px;
    min-width: 480px;
    margin: 0 auto;
    font-family: 'Crimson Text', sans-serif;
}

h2{
    font-weight: bold;
    font-size: 20px;
}


img {
    max-width: 100px;
}


svg {
    max-width: 150px;
    width: 100%;
    overflow: visible !important; 
    margin: 0px 60px;
}

div {
    float: center;
    position: relative;
}


text  {
	font-size: 12px;
    padding: 30px;

}

vn_element {

    color: brown;
}



.annotation {
    max-width: 750px;
    font-size: 16px;
    position: right;
    text-align: left;
}

.container{
    display: flex;
}

.flex-item{
    flex-grow: 1;
}

.nav {
    font-size: 18px;
} 

.page-header, .nav, main, img {
    display: block; 
} 

.page-header h1 {
    font-size: 50px;
    text-align: center;
    display: blocks;
}


.row {
    display: flex;
    padding-top: 30px;
}

.textbox {
    flex: 50%;
    max-width: 575px;
}


