{% extends 'bootstrap_base.html' %}
{% block title %} NLP Applications {% endblock %}
{% block body %}

{% include 'navbar.html' %}

<div id='home_span' style="margin-top:150px;">
  <div class="row" id='wrapper'>
    <!-- Start left navbar -->
    <ul class="col-2 nav nav-tabs flex-column" id="optionsBox" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#resources" role="tab">Resources</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#tutorial" role="tab" aria-controls="tutorial">Using the UVI</a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#publications" role="tab">Publications</a>
      </li> -->
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#download" role="tab">Download</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#agreement" role="tab">Licence Agreement</a>
      </li>
    </ul>
    <!-- End left navbar -->

    <div class="col-9 tab-content" id="pageInfo">
      <div class="tab-pane" id="tutorial" role="tabpanel">
        <p style="font-size:25px">Please click on the following button to go to the UVI Tutorial Video:</p>
        <a href="https://drive.google.com/file/d/1ua1U3oLxX9HaXjwNXpRSnsf-orvg8aEq/view" target="_blank"><button
            type="button">UVI Tutorial Video</button></a>
      </div>

      <!-- Resources tab -->
      <div class="tab-pane active" id="resources" role="tabpanel">
        {% include 'resources.html'%}
      </div>

      <!-- Publications tab -->
      <!-- <div class="tab-pane" id="publications" role="tabpanel">
      		<h2>Publications </h2>
      	</div> -->

      <!-- Download tab -->
      <div class="tab-pane" id="download" role="tabpanel">
        <h2>Download </h2>
        <p style='font-size: 16px; font-weight: 500;'>UVI stores lexical resources as well as mappings between the
          resources. For access to lexical resources used in this project; select the projects/ resources you are
          interested in and click the Download button. Data is downloaded in JSON Format.</p>

        <h2>Licence Agreement </h2>
        <p style='font-size: 16px; font-weight: 500;'>Please find the licence agreement link for the Verbnet resouces <a href="https://verbs.colorado.edu/verbnet/" class ="licence-link">here</a></p>
          <p style='font-size: 16px; font-weight: 500;'> The description of the Licence Agreement can be found on the licence agreement tab on the left. Please check that if you need more details.</p>

        <form action='/download_json' id="download_form" method='post' target='_blank'>
          <span style="font-size: 18px; font-weight: 500;">Include Resources: </span>
          <br />
          <input type='checkbox' name='down_vn' checked>
          <label for='down_vn'><span style="font-size: 15px; font-weight: 500;">VerbNet(v3.4)</span></label><br />
          <input type='checkbox' name='down_fn' checked>
          <label for='down_vn'><span style="font-size: 15px; font-weight: 500;">FrameNet</span></label><br />
          <input type='checkbox' name="down_pb" checked>
          <label for='down_vn'><span style="font-size: 15px; font-weight: 500;">PropBank</span></label><br />
          <input type='checkbox' name="down_on" checked>
          <label for='down_vn'><span style="font-size: 15px; font-weight: 500;">OntoNotes</span></label><br />
          <input class='btn btn-primary btn-dark' type="submit" value='Download'>
        </form>
        <br />
        <div style="padding-top: 10px;">
          <div>
            <span style="font-size: 18px; font-weight: 500;">
              Other VerbNet Resources: 
            </span>
          </div>
          <div style="padding-top: 5px;">
            <span style="font-size: 15px; font-weight: 500;">
              VerbNet v3.3 
              <a id="download" href="http://verbs.colorado.edu/verb-index/vn/verbnet-3.3.tar.gz">
                <i class="fa fa-download" aria-hidden="true"></i>
              </a>
            </span>
          </div>
          <div style="padding-top: 5px;">
            <span style="font-size: 15px; font-weight: 500;">
              VerbNet v3.2 
              <a id="download" href="http://verbs.colorado.edu/verb-index/vn/verbnet-3.2.tar.gz">
                <i class="fa fa-download" aria-hidden="true"></i>
              </a>
            </span>
          </div>
          <div style="padding-top: 5px;">
            <span style="font-size: 15px; font-weight: 500;">
              VerbNet v3.1 
              <a id="download" href="http://verbs.colorado.edu/verb-index/vn/verbnet-3.1.tar.gz">
                <i class="fa fa-download" aria-hidden="true"></i>
              </a>
            </span>
          </div>
          <div style="padding-top: 5px;">
            <span style="font-size: 15px; font-weight: 500;">
              VerbNet Guidelines 
              <a id="download" target="_blank" href="http://verbs.colorado.edu/verb-index/VerbNet_Guidelines.pdf">
                <i class="fa fa-external-link" aria-hidden="true" style="font-weight: bold;"></i>
              </a>
            </span>
          </div>
        </div>
      </div>
      <div class="tab-pane active" id="agreement" role="tabpanel">
       <pre class="licence-text">
        
        VerbNet 3.0 License <a href="../static/resources/licence.txt" target="_blank" class ="licence-link">download text</a>. Also applies to VerbNet 3.X versions

            This software and database is being provided to you, the LICENSEE, by
            the University of Colorado under the following license.  By obtaining, using
            and/or copying this software and database, you agree that you have
            read, understood, and will comply with these terms and conditions.:

            Permission to use, copy, modify and distribute this software and
            database and its documentation for any purpose and without fee or
            royalty is hereby granted, provided that you agree to comply with
            the following copyright notice and statements, including the disclaimer,
            and that the same appear on ALL copies of the software, database and
            documentation, including modifications that you make for internal
            use or for distribution.

            VerbNet 3.0 (or 3.X) Copyright 2009 by University of Colorado.  All rights reserved.

            THIS SOFTWARE AND DATABASE IS PROVIDED "AS IS" AND THE UNIVERSITY 
            OF COLORADO  MAKES NO REPRESENTATIONS OR WARRANTIES, EXPRESS OR
            IMPLIED.  BY WAY OF EXAMPLE, BUT NOT LIMITATION, UNIVERSITY 
            OF COLORADO MAKES NO REPRESENTATIONS OR WARRANTIES OF MERCHANT-
            ABILITY OR FITNESS FOR ANY PARTICULAR PURPOSE OR THAT THE USE
            OF THE LICENSED SOFTWARE, DATABASE OR DOCUMENTATION WILL NOT
            INFRINGE ANY THIRD PARTY PATENTS, COPYRIGHTS, TRADEMARKS OR
            OTHER RIGHTS.

            The name of University of Colorado or CU may not be used in
            advertising or publicity pertaining to distribution of the software
            and/or database.  Title to copyright in this software, database and
            any associated documentation shall at all times remain with
            University of Colorado and LICENSEE agrees to preserve same. 


            Please reference the following document(s) in any description of 
            applications based on VerbNet 3.0 (or 3.X): 

            Karin Kipper, Anna Korhonen, Neville Ryant, Martha Palmer, 
            A Large-scale Classification of English Verbs, 
            Language Resources and Evaluation Journal, 42(1), pp. 21-40, 
            Springer Netherland, 2008.

            and/or

            Karin Kipper Schuler, Anna Korhonen, Susan W. Brown, 
            VerbNet overview, extensions, mappings and apps, Tutorial, NAACL-HLT 2009, Boulder, Colorado.
       </pre>
      </div>
    </div>
  </div>
  <div>

    <style type="text/css">
      #wrapper {
        height: 100%;
        margin-left: 20px;
        margin-top: 20px;
      }

      #optionsBox,
      #pageInfo {
        border-radius: 25px;
        height: 75%;
        margin: 10px;
        padding: 20px;
      }

      #optionsBox {
        background: rgba(220, 174, 29, .9);
        font-size: 16px;
      }

      #pageInfo {
        background: rgba(122, 157, 150, .9);
        overflow-y: auto;
      }

      video {
        width: 75% !important;
        height: auto !important;
        margin: 0 auto;
        display: block;
      }

      #download {
        color: inherit;
      }

      .fa:hover {
        color: #0645AD;
      }
      .licence-link{
        color: aliceblue;
      }
      .licence-text{
        font-size: initial;
      }
    </style>

    {% endblock %}
    {% block scripts %}
    {% endblock %}