{% extends 'bootstrap_base.html' %}
{% block title %} Class Hierarchy {% endblock %}
{% block body %}

{% include 'navbar.html' %}

<div id='home_span' style="margin-top:190px;">
  <br>
  <div class="col-11" id="ButtonsPage">
    <ul class="nav" role="tablist" id='bothButtons'>
      <li role="button"  class="active" ><a href="#tab_num" id="button_num"role="tab" class="button no-underline" data-toggle="tab" >Sort by Class ID</a></li>
      <li role="button"  ><a href="#tab_name" id = "button_name" class="button no-underline" role="tab" data-toggle="tab" >Sort by class name</a></li>
    </ul>
    <br>
  </div>
    <!-- Tab panes -->
  <div class="col-11" id="hierPage">
    <div class="tab-content row" >
      <div role="tabpanel" class="tab-pane active" id="tab_num">
        <article>
          {% for first_num, item in class_by_num.items() %}
          <section>
            {% for el in item %}
              {% for display_name,class_id in el.items() %}
                <a class="wordStyle" href="{{url_for('render_vn_class', vn_class_id=class_id)}}" target='_blank'>{{display_name}}</a><br>
              {% endfor %}
            {% endfor %}
          </section>
          {% endfor %}
        </article>
      </div>
      <div role="tabpanel" class="tab-pane" id="tab_name">
        <article>
          {% for alpha, item in class_by_name.items() %}
          <section>
            {% for el in item %}
              {% for parent,subclasses in el.items() %}
                <a class="wordStyle" href="{{url_for('render_vn_class', vn_class_id=parent)}}" target='_blank'>{{parent}}</a><br>
                {% if subclasses is not none %}
                  <div style="margin-left: 12px;">
                  {% for subclass in subclasses %}
                  <span>&#8627; 
                  <a class="wordStyle" href="{{url_for('render_vn_class', vn_class_id=subclass)}}" target='_blank'>{{subclass}}</a><br>
                  </span>
                  {% endfor %}
                  </div>
                {% endif %}
              {% endfor %}
            {% endfor %}
          </section>
          {% endfor %}
        </article>
    </div>
  </div>
</div>

<!-- Downward right arrow found at: https://www.w3schools.com/charsets/tryit.asp?deci=8627 -->

<style type="text/css">

  #ButtonsPage {
    background: rgba(122, 157, 150, .9);
    margin:auto;
  }

  #hierPage{
    background: rgba(122, 157, 150, .9);
    overflow-y:auto;
    overflow-x: hidden;
    margin: auto;
    height:72vh;
  }

  .button {
    background-color: rgba(220, 174, 29, .9); /* Green */
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 10px;
    color: black;
    text-transform: uppercase;
  }

  a:hover {
    color: #202a0a; /*Shade of olive*/
  }

  .no-underline{
    text-decoration: none;
  }


  #bothButtons {
    justify-content: center;
  }

  .wordStyle {
    text-decoration: none; 
    color: black;
    /*font-weight: bold;*/
    font-size: 16px;
    /*margin-left: 6px;*/
  }

  /* https://speckyboy.com/snippets-masonry-grid-layouts/ - for the masonry layout*/
  @import "compass/css3";
  *, *:before, *:after {
    box-sizing:  border-box !important;
  }

  article {
  -moz-column-width: 20em;
  -webkit-column-width: 20em;
  -moz-column-gap: 1em;
  -webkit-column-gap: 1em; 
  width: 100%;
  }

  section {
  display: inline-block;
  margin:  0.25rem;
  padding:  1rem;
  width:  100%; 
  background:  rgba(255, 255, 210, 0.9); /* Very pale yellow color*/
  float: left;
  border-radius: 8px;
  }

  p {
  margin:  1rem 0; 
  }

  /*  styles for background color, etc; not necessary for this thing to work  */
  p {
  text-align:  left;
  }

</style>

{% endblock %}

{% block scripts %}

{% endblock %}
