<!--Section to display thematic roles, with their selectional and semantic restrictions-->
<h7 class='card-title'>ROLES:</h7>
<h5 class="card-text">
  {% for them_role in vn_parent_json['themroles'] %}
    <a href={{url_for('process_query',themrole=them_role['themrole'])}} target='_blank'>
      <span style="color:#5e81ac; font-size: 18px">{{ them_role['themrole'] }}</span>
    </a>
    {% if them_role['selrestrs']['selrestrs_list'] is not none %}
      <span style="color:red;">[
      {% for selres in them_role['selrestrs']['selrestrs_list']%}
        <a href={{url_for('process_query',selrestr=selres['type'],selrestr_val=selres['value'],level='frame')}} target='_blank'><span style="color:red;">{{ selres['value'] }}{{ selres['type'] }}</span></a>
        {{ " "+them_role['selrestrs']['selrestr_logic'] if not loop.last }}
      {% endfor %}
    ]</span>
    {%endif%}
    <!-- If there are ever syntactic restrictions at the class level-->
    {% if them_role['synrestrs']['synrestr_list'] is not none %}
      <span style="color:maroon;">{
      {% for synres in them_role['synrestrs']['synrestr_list']%}
        <a href={{url_for('process_query',synrestr=synres['type'],synrestr_val=synres['value'],level='frame')}} target='_blank'><span style="color:maroon;">{{ synres['value'] }}{{ synres['type'] }}</span></a>
        {{ " "+them_role['synrestrs']['synrestr_logic'] if not loop.last }}
      {% endfor %}
    }</span>
    {% endif %}
    <br>
  {% endfor %}
</h5>