<!--Section to display thematic roles, with their selectional and semantic restrictions-->
{% set syntax_arg_id = unique_id() %}

<h7 class='card-title'>ROLES:</h7>
<h5 class="card-text">
  {% if vn_parent_json is defined %}
  {% for them_role in vn_parent_json['themroles'] %}
  {% if get_themrole_fields_undefined(them_role['themrole']) is not none %} 
  {% set themrole_fields = get_themrole_fields_undefined(them_role['themrole'])%}

  {% set popover_id = id~them_role['themrole'] %}
      <div id={{popover_id}} style='display:none;'>
      <div class='popover-body'>
        <span style='font-weight:bold'>Definition:</span><br />
        {{ themrole_fields['themrole_desc'] }}<br />
        <span style='font-weight:bold'>Example:</span><br />
        {{ themrole_fields['themrole_example'] }}
        <br />
      </div>
    </div>
    <a href={{url_for('process_query',themrole=them_role['themrole'])}} target='_blank'>
      <span style="color:#5e81ac; font-size: 18px" data-toggle="popover" data-popover-content="#{{popover_id}}" data-placement='left' >{{ them_role['themrole'] }}</span>
    </a>
    {%endif%}

    {% if them_role['selrestrs']['selrestrs_list'] is not none %}
      <span style="color:red;">[
      {% for selres in them_role['selrestrs']['selrestrs_list']%}
        <a href={{url_for('process_query',selrestr=selres['type'],selrestr_val=selres['value'],level='class')}} target='_blank'><span style="color:red;">{{ selres['value'] }}{{ selres['type'] }}</span></a>
        {{ " "+them_role['selrestrs']['selrestr_logic'] if not loop.last }}
      {% endfor %}
    ]</span>
    {%endif%}
    <!-- If there are ever syntactic restrictions at the class level-->
    {% if them_role['synrestrs']['synrestr_list'] is not none %}
      <span style="color:maroon;">{
      {% for synres in them_role['synrestrs']['synrestr_list']%}
        <a href={{url_for('process_query',synrestr=synres['type'],synrestr_val=synres['value'],level='class')}} target='_blank'><span style="color:maroon;">{{ synres['value'] }}{{ synres['type'] }}</span></a>
        {{ " "+them_role['synrestrs']['synrestr_logic'] if not loop.last }}
      {% endfor %}
    }</span>
    {% endif %}
    <br>
  {% endfor %}
  {% endif %}
</h5>