<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel='stylesheet' href="https://cdn.jsdelivr.net/npm/bootswatch@5.3.3/dist/materia/bootstrap.min.css" crossorigin='anonymous'>

    {% block head_scripts %}{% endblock %}

    <title>{% block title %}{% endblock %}</title>
</head>

<body>
  {% set accordion_id = unique_id() %}
  <div id={{accordion_id}}>
    {% set id = frame_json['_id']~accordion_id %}
    <div class="card">
      <div class="card-header" id="heading_{{id}}">
          <h3>{{ frame_json['name'] }} 
            <a class='btn btn-outline-primary'
   href="https://framenet.info/frames/{{ frame_json['name'] }}"
   target='_blank'>
            Open Full Frame on FrameNet<span class="glyphicon glyphicon-new-window"></span>
            </a></h3>
      </div>
      <div class="card-body">
      	<h5>Definition</h5>
      	{{ formatted_def(frame_json, frame_json['definition']['def_text_markup'], popover=True) | safe}}
      	<br /><br />
      	
        <ol>
        <h6>Examples</h6>
      	{% for example in frame_json['definition']['examples_markup'] %}
      	<li>
      	{{ formatted_def(frame_json, example) | safe }}
        </li>
      	{% endfor %}
        </ol>
        


        <br />

	      <h5>Lexical Units</h5>
	      <h7>Hover to view definition; Click to view annotations on FrameNet:</h7><br />
	      {% for lexical_unit in frame_json['lexical_units'] %}
	      {% set popover_id = id~loop.index0 %}
	      <div id={{popover_id}} style='display:none;'>
	      	<div class='popover-heading'>Definition</div>
	      	<div class='popover-body'>{{ lexical_unit['lu_def'] }}</div>
	      </div>
        <a href={{lexical_unit['url']}} target='_blank'>
          <button tabindex='0' role="button" type="button" class="btn btn-outline-dark m-1" data-bs-toggle="popover" 
          data-popover-content="#{{popover_id}}"
          data-bs-trigger='hover focus'>
          <span style="font-weight:bold; text-transform:uppercase;">{{ lexical_unit['lu_name'] }}</span>
          </button>
        </a>
		      {% endfor %}
      </div>
    </div>
  </div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Bootstrap JS (bundle includes Popper) -->
  <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc4s9bIOgUxi8T/jzmv0VGHRKs57RQy+CpQhBOxuekBq" crossorigin="anonymous"></script>

  <!--https://gist.github.com/ImLiam/5e64bc4b2cea6b19f95ecc67602aa363-->
  <script>
  document.addEventListener('DOMContentLoaded', function () {
      document.querySelectorAll('[data-bs-toggle=popover]').forEach(function (el) {
          new bootstrap.Popover(el, {
              html: true,
              content: function () {
                  var content = el.getAttribute('data-popover-content');
                  return document.querySelector(content).querySelector('.popover-body').innerHTML;
              },
              title: function () {
                  var title = el.getAttribute('data-popover-content');
                  return document.querySelector(title).querySelector('.popover-heading').innerHTML;
              }
          });
      });
  });
  </script>
</body>