<h2>Resources</h2>

<div class="resource-box">
	<h3>SemLink</h3>
	<p class="resource-content">The Unified Verb Index is a system which merges links and web pages from four different natural language processing projects: <span style="font-weight: 500;">VerbNet, PropBank, FrameNet, WordNet and OntoNotes.</span> SemLink is a project whose aim is to link together these lexical resources via sets of mappings. These mappings have made it possible to combine the information provided by these different lexical resources for tasks such as inference. The project can be found at <a href="http://verbs.colorado.edu/semlink/" target="_blank">http://verbs.colorado.edu/semlink/</a></p>
</div>

<div class="resource-box">
	<h3>Force Dynamics</h3>
	<p class="resource-content">Force dynamics is a generalization of the theory of causal relations based on transmission of force; Talmy's extended theory of causation (Talmy 1988/2000; Croft 2012). In the force dynamic model, event structure is defined in terms of the interactions between the participants in the event. An argument structure construction is the configuration of subject, object and oblique phrases which a verb occurs with. <a href="https://aclweb.org/anthology/W18-4302" target="_blank">(Croft et al., 2018)</a>

	<br><br>Verb classes in VerbNet are linked to Force Dynamics relations where available.</p>
</div>

<div class="resource-box">
	<h3>VerbNet Parser</h3>
	<p class="resource-content"> The VerbNet Parser provides a tool that uses VerbNet class predictions and PropBank semantic roles to align to a VerbNet frame and produce VerbNet semantic representations. The demo of the VerbNet Parser can be found here: <a href="http://verbnet-semantic-parser.appspot.com/" target="_blank">http://verbnet-semantic-parser.appspot.com/</a>

	<br><br>This is the link of the VerbNet Parser Github: <a href="https://github.com/jgung/verbnet-parser" target="_blank">https://github.com/jgung/verbnet-parser</a></p>
</div>

<div class="resource-box">
	<h3>Story Realization</h3>
	<p class="resource-content"> Neural network based approaches to automated story plot generation attempt to learn how to generate novel plots from a corpus of natural language plot summaries. The project of Story Realization presents an ensemble-based model that generates natural language guided by events. They provide results---including a human subjects study---for a full end-to-end automated story generation system showing that their method generates more coherent and plausible stories than baseline approaches.VerbNet are used in the experiments</a>
	<br><br>The paper of this project can be found here: <a href="https://arxiv.org/abs/1909.03480" target="_blank">Story Realization: Expanding Plot Events into Sentences</a></p>
</div>

<div class="resource-box">
	<h3>Syn-QG</h3>
	<p class="resource-content"> Syn-QG(Syntactic and Shallow Semantic Rules for Question Generation) is a Java-based question generator which generates questions from multiple sources: 1. Dependency Parsing. 2. Semantic Role Labeling. 3. NER templates. 4. VerbNet Predicates. 5. PropBank Roleset Argument Descriptions. 6. Custom Rules. 7. Implication Rules. The paper and code of this project can be found here: <a href="https://kaustubhdhole.wordpress.com/2020/07/09/synqg-syntactic-and-shallow-semantic-rules-for-question-generation/" target="_blank">Kaustubh Dholé’s Blog</a>
</div>



<style type="text/css">
.resource-box {
	border-radius: 10px;
	width: 90%;
	background-color: rgba(255, 255, 210, 0.9);
	padding: 10px;
	display: table;
	margin: 20px auto;
	box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3); 
}	

.resource-content {
	font-size: 15px; 
	text-align: justify; 
	padding: 10px;
}
</style>
