<h2>Resources</h2>

<div class="resource-box">
	<h3>SemLink</h3>
	<p class="resource-content">The Unified Verb Index is a system which merges links and web pages from four different natural language processing projects: <span style="font-weight: 500;">VerbNet, PropBank, FrameNet, WordNet and OntoNotes.</span> SemLink is a project whose aim is to link together these lexical resources via sets of mappings. These mappings have made it possible to combine the information provided by these different lexical resources for tasks such as inference. The project can be found at <a href="http://verbs.colorado.edu/semlink/" target="_blank">http://verbs.colorado.edu/semlink/</a></p>
</div>

<div class="resource-box">
	<h3>Force Dynamics</h3>
	<p class="resource-content">Force dynamics is a generalization of the theory of causal relations based on transmission of force; Talmy's extended theory of causation (Talmy 1988/2000; Croft 2012). In the force dynamic model, event structure is defined in terms of the interactions between the participants in the event. An argument structure construction is the configuration of subject, object and oblique phrases which a verb occurs with. <a href="https://aclweb.org/anthology/W18-4302" target="_blank">(Croft et al., 2018)</a>

	<br><br>Verb classes in VerbNet are linked to Force Dynamics relations where available.</p>
</div>





<style type="text/css">
.resource-box {
	border-radius: 10px;
	width: 90%;
	background-color: rgba(255, 255, 210, 0.9);
	padding: 10px;
	display: table;
	margin: 20px auto;
	box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3); 
}	

.resource-content {
	font-size: 15px; 
	text-align: justify; 
	padding: 10px;
}
</style>