{% extends 'bootstrap_base.html' %}
{% block title %} Unified Verb Index {% endblock %}
{% block body %}

{% include 'navbar.html' %}

<div id="home_span">
  <div id="fade_welcome_div">
    <div id="welcome_frame" class="text-center">

      <h1 class="welcome-heading">Welcome to the Unified Verb Index</h1>
      <p class="welcome-subtitle">hosted at the University of Colorado Boulder</p>

      <!-- CTA -->
      <a href={{ url_for('uvi_search') }} class="cta-link">
        <img class="welcome-cub-logo" src="/static/images/NLP/clear_crop.jpg" alt="CU Boulder NLP">
        <br>
        <button class="btn btn-light btn-lg mt-2">Take Me to the UVI!</button>
      </a>

      <p class="welcome-description mt-4">
        The Unified Verb Index is a system which merges links and web pages from five different natural language processing projects:
      </p>

      <!-- Resource logos -->
      <div class="resource-logos">
        <a href="https://verbs.colorado.edu/verbnet/" target="_blank">
          <img class="welcome-frame-logo" src="/static/images/vn_logos/12.png" alt="VerbNet">
        </a>
        <a href="http://propbank.github.io/" target="_blank">
          <img class="welcome-frame-logo" src="/static/images/propbank-logo-2.png" alt="PropBank">
        </a>
        <a href="https://framenet.info/lus/" target="_blank">
          <img class="welcome-frame-logo" src="/static/images/framenet-logo.jpg" alt="FrameNet">
        </a>
        <a href="http://clear.colorado.edu/compsem/index.php?page=lexicalresources&sub=ontonotes" target="_blank">
          <img class="welcome-frame-logo" src="/static/images/ontonotes_logo.png" alt="OntoNotes">
        </a>
        <a href="https://ufal.mff.cuni.cz/synsemclass" target="_blank">
          <img class="welcome-frame-logo" src="/static/images/CzEngClass-logo.png" alt="CzEngClass">
        </a>
      </div>

      <!-- Stats -->
      <p class="welcome-stats">
        Representing <strong>9344 verbs</strong> in:<br>
        6791 VerbNet senses &bull; 4570 VerbNet lemmas &bull; 329 VerbNet main classes &bull; 272 VerbNet subclasses<br>
        5649 PropBank links &bull; 4186 FrameNet links &bull; 4898 Grouping links
      </p>

      <!-- Acknowledgment -->
      <p class="acknowledgment-box">
        We gratefully acknowledge the support of the National Science Foundation Grant NSF-IIS-1116782,
        "A Bayesian Approach to Dynamic Lexical Resources for Flexible Language Processing", NSF US-9800658 VerbNet,
        "Associating Semantic Features with Intersective Levin Classes", NSF US-9900297 Actionary,
        "A Dictionary of Parameterized Action Representations", DTRA1-16-1-0002/Project 1553695,
        eTASC - Empirical Evidence for a Theoretical Approach to Semantic Components and
        DARPA 15-18-CwC-FP-032 Communicating with Computers, C3 Cognitively Coherent Human-Computer Communication
        (sub from UIUC) and Elementary Composable Ideas (ECI) Repository (sub from SIFT).<br><br>
        Any opinions, findings, and conclusions or recommendations expressed in this material are those of the authors
        and do not necessarily reflect the views of the National Science Foundation.
      </p>

    </div>
  </div>
</div>

{% endblock %}

{% block scripts %}{% endblock %}
