<div id="welcome_frame" class='text-center'>
<h1>Welcome to the Unified Verb Index</h1>
<p>hosted at the University of Colorado Boulder</p>
<p>The Unified Verb Index is a system which merges links and web pages from four different natural language processing projects:</p>
<img class="welcome-frame-logo" style="width: 10rem;" src="/static/images/vn_logos/12.png" alt="VerbNet">
<img class="welcome-frame-logo" style="width: 10rem;" src="/static/images/propbank-logo-2.png" alt="PropBank">
<img class="welcome-frame-logo" style="width: 10rem;" src="/static/images/framenet-logo.jpg" alt="FrameNet">
<img class="welcome-frame-logo" style="width: 10rem;" src="/static/images/ontonotes_logo.png" alt="OntoNotes">

<br/>
<p>Representing 9344 verbs in:<br/>
 6791 VerbNet senses, 4577 VerbNet lemmas, 329 VerbNet main classes, 272 VerbNet subclasses, 5649 PropBank links, 4186 FrameNet links, and 4898 Grouping links</p>

<p style="background-color:gray;padding:15px;border-radius:10px">We gratefully acknowledge the support of the National Science Foundation Grant NSF-IIS-1116782, "A Bayesian Approach to Dynamic Lexical Resources for Flexible Language Processing." Any opinions, findings, and conclusions or recommendations
expressed in this material are those of the authors and do not necessarily reflect the views of the National Science Foundation.</p>

<!-- <button class='btn' id='fade_welcome_button'>Take Me to the UVI!</button> -->
<button class='btn' id='fade_welcome_button'>Take Me to the UVI!</button>

</div>