<?xml version="1.0" ?><!DOCTYPE inventory  SYSTEM 'inventory.dtd'><inventory lemma="spring-n">
    <commentary>
    </commentary>
    
    <sense group="1" n="1" name="season after winter" type="">
        <commentary>
	    SPRING[+event]
	    The time of year when things start to grow.
	    </commentary>
        <examples>
            The growth of new flower buds is a sure sign of spring.
            He's going to hold office until next spring.
        </examples>
        <mappings>
            <wn version="2.0">
                1
            </wn>
            <omega/><pb>NM</pb>
        </mappings>
        <SENSE_META clarity=""/>
    </sense>
    
    <sense group="1" n="2" name="place of flowing water" type="Entity">
        <commentary>
            A particular location that contains a natural flow of ground water.
        </commentary>
        <examples>
            I drank from the spring and filled up my water bottle.
            John and Mary made plans to meet at the spring.
            The Vanderbilts only drink Poland Spring water.
        </examples>
        <mappings>
            <wn version="2.0">
                2
            </wn>
            <omega/><pb>NM</pb>
        </mappings>
        <SENSE_META clarity=""/>
    </sense>
    
    <sense group="1" n="3" name="metal coil" type="Entity">
        <commentary>
            A device, usually made of metal, that returns to its original shape after being pushed or pulled.
        </commentary>
        <examples>
            John awoke the next morning to find that the springs on his mattress had broken.
            I bought my cousin a spring-loaded toy gun for Christmas.
        </examples>
        <mappings>
            <wn version="2.0">
                3
            </wn>
            <omega/><pb>NM</pb>
        </mappings>
        <SENSE_META clarity=""/>
    </sense>
    
    <sense group="1" n="4" name="a jump" type="Event">
        <commentary>
	    SPRING[+event]
	    A motion that propels something upward or forward.
	    </commentary>
        <examples>
            My cat can reach the counter-top in a single spring.
            The action hero dodged the explosion with a well-timed spring to safety.
        </examples>
        <mappings>
            <wn version="2.0">
                4
            </wn>
            <omega/><pb>spring.01</pb>
        </mappings>
        <SENSE_META clarity=""/>
    </sense>
    
    <sense group="1" n="5" name="elasticity" type="Abstraction">
        <commentary>
            The quality or degree of elasticity that an object has.  Springiness.
        </commentary>
        <examples>
            John's Slinky had a lot more spring than mine.
        </examples>
        <mappings>
            <wn version="2.0">
                5
            </wn>
            <omega/><pb>NM</pb>
        </mappings>
        <SENSE_META clarity=""/>
    </sense>
    
    <sense group="1" n="6" name="place of origin" type="Abstraction">
        <commentary>
            The point at which something begins or issues forth.  Can be used physically or metaphorically.
        </commentary>
        <examples>
            We traced the leak back to its spring.
            All our ideas had their spring in John's brilliant insight.
            The creative spring of the Renaissance allowed a flow of new arts and philosophies.
        </examples>
        <mappings>
            <wn version="2.0">
                6
            </wn>
            <omega/><pb>NM</pb>
        </mappings>
        <SENSE_META clarity=""/>
    </sense>
    
    <WORD_META authors="hertlerb" sample_score="-"/>
</inventory>